body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Questrial', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color:orange;
}
.flexible-container{
    
    display:flex;
    margin-bottom:100px;
       
}
.half-width{
    width: 50%;
    padding-left:8%;

}
.half-width img{
    width: 100%;

}
#image-width{
    width:80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato,orange);
    padding:10px 30px;
    border-radius: 5px;
    color:white;
    font-weight:800;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width:40%;
    padding: 20px;
    margin-left:5%;
    margin-right: 5px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
   

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#junior{
    border-left:8px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#full-stack{
    border-left:8px solid;
    border-image: linear-gradient(tomato,salmon);
    border-image-slice: 1;
}
footer{
    text-align: center;
}